@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce-in {
  animation: bounce 1s infinite ease-in-out;
}

.bounce-out {
  transform: translateY(-100px); /* Initial position off-screen */
  animation: bounce 1s infinite ease-in-out;
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
